@model CNWEB.Models.TradeMark

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<TradeMark> tradeMarks = ViewBag.chitiet;
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a><a asp-area="Admin" asp-controller="AdminTradeMarks" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Danh sách thương hiệu</a>
            <span class="breadcrumb-item active">Chi tiết thương hiệu</span>
        </nav>
    </div>
</div>
<section class="content">

    <div class="card">
        <div class="card-header"style="background: #F7F7F7">
            <h3 class="card-title font-weight-bold" style="font-size: 20px;">Chi tiết thương hiệu</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row" style="margin-left: 450px">
                <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">

                    <div class="row m-t-20 lh-2">

                        <div class="col-sm-5" style="margin-top: 30px">

                            <span class="text-muted" style="font-size: 24px;">Mã thương hiệu: @Model.Id</span><br>
                            <span class="text-muted" style="font-size: 24px;">Tên thương hiệu: @Model.Names</span><br>
                       
                        </div>
                        <div class="col-sm-7">
                        @*     <label asp-for="Logo" class="text-muted" style="font-size: 18px;">Hình ảnh</label>
                              <br />*@
                            <img class="img-fluid" src="@Url.Content("~/uploads/" + Model.Logo)" />
                        </div>
                        @*  </div>*@
                    </div>
                    <div class="col-12">
                        <br />
                        <a asp-area="Admin" asp-controller="AdminTradeMarks" asp-action="Index" class="btn btn-secondary bg-primary border-0 font-weight-bold" style="width: 200px; border-color: #0062CC; margin-left: 100px"><i class="fa-solid fa-arrow-left-long" style="color: #ffffff;"></i> Quay lại</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>