@*@model CNWEB.Models.TradeMark

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>TradeMark</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Names" class="control-label"></label>
                <input asp-for="Names" class="form-control" />
                <span asp-validation-for="Names" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CNWEB.Models.TradeMark

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a><a asp-area="Admin" asp-controller="AdminTradeMarks" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Danh sách thương hiệu</a>
            <span class="breadcrumb-item active">Sửa thương hiệu</span>
        </nav>
    </div>
</div>
<div class="card card-default">
    <div class="card-header" style="background: #F7F7F7">
        <h1 class="card-title font-weight-bold">Sửa thương hiệu</h1>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>

    <div class="card-body">
        <form method="post" asp-area="Admin" asp-controller="AdminTradeMarks" asp-action="Edit" enctype="multipart/form-data">
           
                <div class="col-md-6" style="margin-left: 400px">
                    <div class="form-group">
                        <label asp-for="Id" class="control-label">Mã thương hiệu</label>
                        <input asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Names" class="control-label">Tên thương hiệu</label>
                        <input asp-for="Names" class="form-control" />
                        <span asp-validation-for="Names" class="text-danger"></span>
                    </div>
                <div class="form-group">
                    <label for="Logo" class="control-label">Hình ảnh:</label>
                    <div class="custom-file">
                        <input asp-for="Logo" class="custom-file-input" type="file" id="Logo" name="fileupload" />
                        <label class="custom-file-label" for="Logo">@Model.Logo</label>
                    </div>
                    <span asp-asp-validation-for="Logo" class="text-danger"></span>


                </div>
                    <div class="row" style="margin-left: 200px">
                    <div class="form-group">

                        <a asp-area="Admin" asp-controller="AdminTradeMarks" asp-action="Index" class="btn btn-block btn-success" style="width:150px"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i> Trở lại</a>
                    </div>

                    <div class="form-group" style="margin-left: 50px">
                        @*   <i class="fa-regular fa-floppy-disk"></i>*@
                        <input type="submit" value="Cập nhật" class="btn btn-primary" style="width: 150px" />
                    </div>
                </div>
                </div>


    
        </form>
    </div>
    </div>

    @section Scripts{
        <script type="text/javascript">
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        </script>

    }
@*
@section Scripts{
    <script>
        function displaySelectedFile(event) {
            var file = event.target.files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById('productImage').src = e.target.result;
            };

            reader.readAsDataURL(file);
        }
    </script>
}*@
@*@section Scripts{
    <script>
        function displayImage(input) {
            var file = input.files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById('file-info').innerHTML = 'File đã chọn: ' + file.name;
                document.getElementById('productImage').src = e.target.result;
            };

            reader.readAsDataURL(file);
        }
    </script>
}*@
@*@section Scripts{
    <script>
        function displaySelectedFile(input) {
            var file = input.files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
                input.value = e.target.result;
            };

            reader.readAsDataURL(file);
        }
    </script>
}*@
